<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-weight: bolder"
      >MumYol Admin Panel</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 150px"
      >
        <li class="nav-item" style="margin-left: 10px;">
          <a [class]="getNavButtonClass('/home')" aria-current="page" href="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a [class]="getNavButtonClass('/products')" href="/products"
            >Ürünler</a
          >
        </li>
        <li class="nav-item">
          <a [class]="getNavButtonClass('/customers')" href="/customers"
            >Müşteriler</a
          >
        </li>
        <app-insufficient-stock-summary></app-insufficient-stock-summary>
        <!-- <li
        _ngcontent-fae-c3=""
        class="dropdown nav-item"
        dropdown=""
        placement="bottom left"
      >
        <a
          _ngcontent-fae-c3=""
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          dropdowntoggle=""
          href="#"
          aria-haspopup="true"
          ><div _ngcontent-fae-c3="" class="photo">
            <img
              _ngcontent-fae-c3=""
              alt="Profile Photo"
              src="https://demos.creative-tim.com/black-dashboard-pro-angular/assets/img/mike.jpg"
            />
          </div>
          <b _ngcontent-fae-c3="" class="caret d-none d-lg-block d-xl-block"></b>
          <p _ngcontent-fae-c3="" class="d-lg-none">Log out</p></a
        >
      </li> -->
      </ul>
    </div>

  </div>
</nav>
