<br>

<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div *ngIf="dataLoaded==true" class="list-group">
  <h4>
    Kategoriler
  </h4>
  <button (click)="setCurrentCategory(category)"
  routerLink="/products/category/{{category.id}}"
  *ngFor="let category of categories"
   type="button"
   [class]="getCurrentCategoryClass(category)">

   <div  *ngIf="currentCategory.id != 0 && currentCategory == category" class="d-flex" >
    <img
    (click)="openFileDiolog()"
      class="img-fluid rounded"
      src="{{ apiUrl }}{{ category.imagePath }}"
    />
    <div class="input-group mb-3" style="display: none;">
      <input #fileInput type="file" accept="image/*" (change)="addImage($event)" class="" id="image1" aria-label="Upload">
    </div>
   </div>
   {{ category.name }}

   </button>
   <div *ngIf="categoryNameForAddClicked" class="list-group-item">
    <form class="" action="" (keyup.enter)="addCategory()">
      <input
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          type="text"
          [(ngModel)]="categoryNameForAdd"
          placeholder="Kategori Adi giriniz..."
          aria-label="Yeni Kategori Adi"
          id="categoryNameForAdd"
        />
    </form>
  </div>
   <button
    type="button"
    class="list-group-item list-group-item-success" (click)="addCategory()">Kategori Ekle</button>
</div>
