<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="loginForm">
      <img
        class="mb-4"
        src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h3 mb-3 fw-normal">MumYol Admin Panel</h1>

      <div class="form-floating">
        <input
          type="tel"
          class="form-control"
          id="phoneNumber"
          placeholder="Telefon Numarası"
          formControlName="phoneNumber"
        />
        <label for="phoneNumber">Telefon Numarası</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Şifre"
          formControlName="password"
        />
        <label for="password">Şifre</label>
      </div>

      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div> -->
      <button (click)="login()" class="w-100 btn btn-lg btn-primary">
        Giriş Yap
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
  </main>
</body>
